body {
    color:rgb(0, 21, 141);
    background:rgb(47, 248, 255);
}

.heading {
    width: 80%;
    font-size: 25px;
}

.name_of_objects, #result_object_name, #result_object_accuaracy {
    color: rgb(0, 29, 68);
    
}

#camera {
    border: 2px dashed rgb(0, 124, 118);
    width: 350px;
    height: 300px;
}